.weather {
    background-color: rgba(180,211,239, 0.5);
    padding: 2rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.3rem;
}

.location {
    margin-top: 3rem;
    font-size: 5rem;
}

.weather-row {
    margin: 1rem 0 3rem;
    display: flex;
    align-items: center;
    gap: 4rem;
}

.weather-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temperature {
    font-size: 3rem;
}

.details span {
    font-weight: bold;
    margin-right: 1rem;
}

.location-error {
    margin: 3rem 0;
}