.weather {
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.3rem;
    transition: all 0.3s ease 0s;
    background: rgba( 255, 255, 255, 0.4 );
    backdrop-filter: blur( 15px );
    -webkit-backdrop-filter: blur( 15px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: relative;
    gap: 2rem;
}

.weather-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.weather-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

@media (max-width: 900px) {
    .weather-info {
        flex-direction: column-reverse;
    }
}